<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="suat" connectionString="Data Source=DESKTOP-1TM9SIN\SUATAD;Initial Catalog=INTERN;User ID=sa;password=ad2022+-;Persist Security Info=true" providerName=".NET Framework Data Provider for SQL Server"></add>
	</connectionStrings>
</configuration>